@font-face {
  font-family: 'OpenSansRegular';
  src: url("fonts/OpenSansRegular.eot");
  src: url("fonts/OpenSansRegular.eot") format("embedded-opentype"), url("fonts/OpenSansRegular.woff2") format("woff2"), url("fonts/OpenSansRegular.woff") format("woff"), url("fonts/OpenSansRegular.ttf") format("truetype"), url("fonts/OpenSansRegular.svg#OpenSansRegular") format("svg"); }
@font-face {
  font-family: 'SourceSansProLight';
  src: url("../fonts/SourceSansProLight.eot");
  src: url("../fonts/SourceSansProLight.eot") format("embedded-opentype"), url("../fonts/SourceSansProLight.woff2") format("woff2"), url("../fonts/SourceSansProLight.woff") format("woff"), url("../fonts/SourceSansProLight.ttf") format("truetype"), url("../fonts/SourceSansProLight.svg#SourceSansProLight") format("svg"); }
@font-face {
  font-family: 'MyriadProRegular';
  src: url("fonts/MyriadProRegular.eot");
  src: url("fonts/MyriadProRegular.eot") format("embedded-opentype"), url("fonts/MyriadProRegular.woff2") format("woff2"), url("fonts/MyriadProRegular.woff") format("woff"), url("fonts/MyriadProRegular.ttf") format("truetype"), url("fonts/MyriadProRegular.svg#MyriadProRegular") format("svg"); }
body {
  box-sizing: border-box; }

header {
  width: 100%;
  position: absolute; }

.navbar-toggle .icon-bar {
  background-color: #000; }

.navbar-toggle {
  border: solid 1px #000; }

.navbar-nav > li > a {
  font-size: 14px; }

.navbar-nav {
  padding-right: 100px;
  padding-top: 30px; }

.navbar-brand {
  padding-top: 47px; }

.navbar .navbar-nav > li > a:focus, .navbar .navbar-nav > li > a {
  color: #e7e5e3;
  border-radius: 30px;
  border: 2px solid transparent; }

.navbar .navbar-nav > li > a:focus, .navbar .navbar-nav > li > a:hover {
  border-radius: 30px;
  border: 2px solid #e7e5e3; }

.nav > li > a:focus, .nav > li > a:hover {
  background-color: transparent; }

.item_1 {
  background: #c7b39b url(images/bg-1.jpg) center no-repeat;
  background-size: cover;
  min-height: 737px;
  border: none;
  color: #ffffff;
  text-align: center;
  padding-top: 290px; }

.item_1 h2 {
  font-size: 35px;
  font-family: 'SourceSansPro', sans-serif;
  color: white;
  text-transform: uppercase;
  line-height: 2;
  text-align: center; }

.item_1 p {
  margin: 0 0 10px;
  min-height: 250px;
  line-height: 1.75;
  font-family: 'OpenSansRegular', sans-serif;
  font-size: 16px; }

.button {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 50%;
  display: block;
  background: url(images/button.png) no-repeat top;
  cursor: pointer; }

.button:active {
  background: no-repeat bottom; }

.about-us {
  padding-top: 110px;
  padding-bottom: 100px; }

h1 {
  padding-bottom: 50px;
  font-size: 20px;
  font-family: 'SourceSansPro', sans-serif;
  color: #333b46;
  text-transform: uppercase;
  line-height: 0.6;
  text-align: left; }

.about-us p {
  font-size: 14px;
  font-family: 'OpenSans', sans-serif;
  color: #81868e;
  line-height: 1.786;
  text-align: left; }
.about-us button {
  border-radius: 30px;
  border: 1px solid #414852;
  background-color: #ffffff;
  width: 140px;
  height: 40px;
  text-align: center;
  color: #414852;
  text-decoration: none;
  margin-top: 37px; }
.about-us a {
  color: #414852;
  text-decoration: none; }

.section-3 {
  background-color: #f3f3f3; }

.about-us-details {
  padding-top: 80px;
  padding-bottom: 105px;
  background-color: #f3f3f3; }

.about-us-details h2 {
  text-align: center;
  font-size: 20px;
  font-family: 'SourceSansPro', sans-serif;
  color: #333b46;
  text-transform: uppercase;
  line-height: 0.6; }
.about-us-details p {
  font-size: 14px;
  font-family: 'OpenSans', sans-serif;
  color: #81868e;
  line-height: 1.786;
  text-align: center;
  margin-top: 40px; }
.about-us-details .icon-bar {
  margin: 0 auto;
  text-align: -webkit-center;
  padding-top: 60px;
  padding-bottom: 60px; }
.about-us-details .icon {
  width: 55px;
  height: 55px;
  background-color: #81868e;
  border-radius: 50%;
  display: inline-block;
  margin-left: 15px;
  text-align: center; }
.about-us-details i {
  font-size: 25px;
  color: #ffffff;
  padding-top: 15px; }
.about-us-details .icon:hover {
  background-color: #19bd9a; }
.about-us-details h3 {
  font-size: 20px;
  font-family: 'OpenSans', sans-serif;
  color: #464646;
  line-height: 6.25;
  text-align: left;
  margin-left: 12px; }
.about-us-details .vero p {
  font-size: 16px;
  font-family: 'OpenSans', sans-serif;
  color: #81868e;
  line-height: 1.75;
  text-align: left; }

.section-4 h2 {
  text-align: center;
  font-size: 20px;
  font-family: 'SourceSansPro', sans-serif;
  color: #333b46;
  text-transform: uppercase;
  line-height: 0.6;
  padding-top: 80px;
  padding-bottom: 40px; }
.section-4 p {
  font-size: 14px;
  font-family: 'OpenSans', sans-serif;
  color: #81868e;
  line-height: 1.786;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 60px; }
.section-4 .hov {
  height: 319px;
  position: relative;
  padding: 0; }
  .section-4 .hov:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: #FFF;
    text-align: center;
    padding-top: 150px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: lighter;
    opacity: 0.8; }
  .section-4 .hov:hover:after {
    display: none; }
.section-4 .first {
  background-image: url("images/img-1.png");
  background-attachment: scroll;
  background-size: cover; }
  .section-4 .first:after {
    content: "+"; }
.section-4 .two {
  background-image: url("images/img-1.png");
  background-attachment: scroll;
  background-size: cover; }
  .section-4 .two:after {
    content: "VINTAGE"; }
.section-4 .three {
  background-image: url("images/img-2.png");
  background-attachment: scroll;
  background-size: cover; }
  .section-4 .three:after {
    content: "Branding"; }

.p-2 {
  font-family: 'MyriadPro', sans-serif;
  font-size: 20px;
  color: white;
  line-height: 1.25;
  background-image: url("images/img-3.png");
  background-size: cover;
  height: 110px;
  padding-top: 35px; }

.p-2 p {
  color: white;
  margin-top: 10px; }

.p-2 a {
  display: block;
  width: 140px;
  height: 40px;
  border: 1px solid white;
  border-radius: 30px;
  text-align: center;
  line-height: 37px;
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none; }

.p-2 button a {
  font-size: 16px;
  font-family: 'MyriadPro', sans-serif;
  color: #ffffff;
  line-height: 0.75;
  font-weight: normal; }

.section-5 {
  padding-bottom: 137px;
  background-color: #f3f3f3; }

.col-xs-12 {
  width: auto; }

.section-5 h2 {
  text-align: center;
  font-size: 20px;
  font-family: 'SourceSansPro', sans-serif;
  color: #333b46;
  text-transform: uppercase;
  line-height: 0.6;
  padding-top: 80px;
  padding-bottom: 40px; }
.section-5 .services p {
  font-size: 14px;
  font-family: 'Myriad Pro', sans-serif;
  color: #81868e;
  line-height: 1.786;
  text-align: center;
  padding-bottom: 60px;
  margin: 0; }
.section-5 h3 {
  font-size: 20px;
  font-family: 'Myriad Pro', sans-serif;
  color: #464646;
  line-height: 3.5;
  text-align: left;
  margin: 0; }
.section-5 .graphic-1 {
  font-size: 18px;
  font-family: 'OpenSans', sans-serif;
  color: #81868e;
  line-height: 1.75;
  padding-bottom: 40px;
  margin: 0; }
.section-5 .graphic-2 {
  font-size: 16px;
  font-family: 'OpenSans', sans-serif;
  color: #81868e;
  line-height: 1.786;
  margin: 0; }
.section-5 .circle {
  margin-top: 24px;
  float: right; }
.section-5 .circle div {
  width: 53px;
  height: 53px;
  background-color: #81868e;
  border-radius: 50%;
  margin-bottom: 15px; }
.section-5 .circle div i {
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  padding-top: 15px;
  padding-left: 15px; }
.section-5 .circle div:hover {
  background-color: #19bd9a; }

.circle-progress-bar {
  padding-top: 78px; }

.progress {
  width: 125px;
  height: 125px;
  line-height: 125px;
  background: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  position: relative; }

.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid #19bd9a;
  position: absolute;
  top: 0;
  left: 0; }

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1; }

.progress .progress-left {
  left: 0; }

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 2px;
  border-style: solid;
  position: absolute;
  top: 0; }

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left; }

.progress .progress-right {
  right: 0; }

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards; }

.progress .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: transparent;
  font-size: 24px;
  color: #81868e;
  text-align: center;
  padding-left: 20px; }

.circle-progress-bar p {
  padding-top: 30px;
  text-align: center;
  color: #90959b;
  font-size: 16px;
  position: absolute;
  left: 15%; }
  @media screen and (max-width: 768px) {
    .circle-progress-bar p {
      position: absolute;
      bottom: -33px; } }

.progress.green .progress-left .progress-bar {
  animation: loading-5 1.2s linear forwards 1.8s; }

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); } }
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg); } }
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); } }
@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg); } }
@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(126deg);
    transform: rotate(126deg); } }
@media only screen and (max-width: 990px) {
  .progress {
    margin-bottom: 20px; } }
.section-6 {
  background-image: url(images/bg-2.png);
  background-size: cover;
  padding-top: 75px;
  padding-bottom: 100px; }

.code-cafe h2 {
  font-size: 20px;
  font-family: 'SourceSansPro', sans-serif;
  color: #f3f3f3;
  text-transform: uppercase;
  line-height: 0.6;
  padding-bottom: 55px; }
.code-cafe p {
  font-size: 16px;
  font-family: 'OpenSans', sans-serif;
  color: #b2b3b3;
  line-height: 1.75;
  padding-bottom: 30px; }
.code-cafe h3 {
  font-size: 14px;
  font-family: 'OpenSans', sans-serif;
  color: #b2b3b3;
  text-transform: uppercase;
  line-height: 1.786; }

.desktop {
  margin-top: -120px;
  margin-left: 60px; }

.section-7 {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #f3f3f3; }

.section-7 h3 {
  font-size: 20px;
  font-family: 'SourceSansPro', sans-serif;
  color: #333b46;
  text-transform: uppercase;
  line-height: 0.6;
  padding-bottom: 40px;
  text-align: center; }
.section-7 p {
  font-size: 16px;
  font-family: 'OpenSans', sans-serif;
  color: #b2b3b3;
  line-height: 1.75;
  padding-bottom: 80px;
  text-align: center; }

.tabes {
  display: block;
  margin-bottom: 60px; }
  .tabes li {
    display: inline; }
    .tabes li a {
      display: inline-block;
      font-size: 16px;
      font-family: 'OpenSans', sans-serif;
      margin-left: 15px;
      margin-right: 15px;
      padding-bottom: 15px;
      border-bottom: 2px solid #f3f3f3;
      position: relative;
      color: #525252; }
      .tabes li a:hover {
        text-transform: none;
        text-decoration: none; }
        .tabes li a:hover:after {
          position: absolute;
          top: 31px;
          left: 28%;
          width: 50%;
          border-bottom: 2px solid #19bd9a;
          content: ""; }
  .tabes .active a {
    display: inline-block;
    font-size: 16px;
    font-family: 'OpenSans', sans-serif;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #f3f3f3;
    position: relative;
    text-decoration: none; }
    .tabes .active a:after {
      position: absolute;
      top: 31px;
      left: 28%;
      width: 50%;
      border-bottom: 2px solid #19bd9a;
      content: ""; }
  .tabes .button-start a {
    font-size: 16px;
    font-family: 'MyriadPro', sans-serif;
    color: #ffffff;
    line-height: 0.75;
    font-weight: normal;
    display: block;
    width: 140px;
    height: 35px;
    border: 1px solid white;
    border-radius: 16px;
    text-align: center; }

.mosaicflow__item {
  padding: 5px; }

.mosaicflow__column {
  float: left; }

.mosaicflow__item img {
  display: block;
  width: 100%;
  height: auto;
  background-color: #fff; }

.mosaicflow__item img:hover {
  opacity: 0.6;
  filter: alpha(opacity=60); }

.start_project {
  background-image: url(images/bg-4.png);
  background-size: cover;
  position: relative;
  margin-top: 30px;
  padding-bottom: 57px;
  padding-top: 57px;
  min-height: 200px; }

.start_project p {
  font-size: 20px;
  font-family: 'OpenSans', sans-serif;
  color: #ffffff;
  line-height: 1.25;
  padding-bottom: 30px;
  margin: 0; }

.start_project button {
  border-radius: 30px;
  border: 1px solid #ffffff;
  background: none;
  width: 140px;
  height: 40px;
  margin: 0;
  display: block;
  font-size: 16px;
  position: absolute;
  left: 45%; }
.start_project a {
  color: #ffffff;
  text-align: center;
  text-decoration: none; }

.section-8 {
  padding-top: 80px;
  padding-bottom: 100px; }

.carousel-indicators li {
  border: 1px solid #19bd9a;
  margin-bottom: -60px; }

.carousel-indicators .active {
  background-color: #19bd9a;
  margin-bottom: -60px; }

.section-8 .h3_team {
  font-size: 20px;
  font-family: 'SourceSansPro', sans-serif;
  color: #333b46;
  text-transform: uppercase;
  line-height: 0.6;
  padding-bottom: 40px;
  text-align: center; }
.section-8 .p_team {
  font-size: 16px;
  font-family: 'OpenSans', sans-serif;
  color: #a3a6ac;
  line-height: 1.75;
  padding-bottom: 80px;
  text-align: center; }

.section-8 .carousel-inner .text-left {
  border-right: 4px solid #19bd9a;
  padding-right: 50px;
  text-align: right; }
  .section-8 .carousel-inner .text-left h3 {
    font-family: 'OpenSans', sans-serif;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: right;
    color: #464646; }
  .section-8 .carousel-inner .text-left i {
    color: #a3a6ac;
    font-family: 'SourceSansPro', sans-serif;
    font-size: 14px;
    text-transform: uppercase; }
.section-8 .carousel-inner p {
  font-size: 16px;
  font-family: 'OpenSans', sans-serif;
  color: #a3a6ac;
  line-height: 1.786;
  text-align: right;
  margin-top: 30px;
  padding-right: 50px; }

.section-9 {
  padding-top: 57px;
  padding-bottom: 57px;
  background-image: url(images/bg-5.jpg.png);
  background-size: cover;
  text-align: center;
  font-family: 'OpenSans', sans-serif;
  color: #ffffff;
  line-height: 0.75; }

.section-9 p {
  font-size: 20px;
  line-height: 1.25;
  margin-bottom: 30px; }
.section-9 button {
  border-radius: 30px;
  border: 1px solid #ffffff;
  background: none;
  width: 140px;
  height: 40px;
  margin: 0;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  text-align: center; }

.section-10 {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #f3f3f3; }

.section-10 h3 {
  font-size: 20px;
  font-family: 'SourceSansPro', sans-serif;
  color: #333b46;
  text-transform: uppercase;
  line-height: 0.6;
  padding-bottom: 40px;
  text-align: center; }
.section-10 .test {
  font-size: 16px;
  font-family: 'OpenSans', sans-serif;
  color: #d5d7d9;
  line-height: 1.75;
  padding-bottom: 80px;
  text-align: center; }

.carousel_3 {
  background-color: #ffffff;
  padding: 60px 100px 100px 100px; }

.section-11 {
  background-image: url(images/bg-6.png);
  background-size: cover;
  padding-bottom: 100px;
  padding-top: 80px; }

.section-11 h3 {
  font-size: 20px;
  font-family: 'SourceSansPro', sans-serif;
  text-transform: uppercase;
  line-height: 0.6;
  text-align: left;
  margin-bottom: 35px;
  margin-left: 90px; }
.section-11 .latest {
  font-size: 14px;
  font-family: 'OpenSans', sans-serif;
  line-height: 1.786;
  text-align: left;
  margin-left: 90px; }

.carousel_4 {
  padding-top: 100px;
  position: relative; }

.carousel_4 .carousel-indicators {
  display: block;
  margin-bottom: 10px;
  position: absolute;
  left: 95%;
  top: 50%;
  width: 15px;
  height: 35px;
  padding-left: 0;
  margin-left: 0;
  text-align: center;
  list-style: none; }
  .carousel_4 .carousel-indicators li {
    border: 1px solid #b2b3b3; }
  .carousel_4 .carousel-indicators .active {
    background-color: #b2b3b3; }
.carousel_4 h4 {
  font-size: 20px;
  font-family: 'OpenSans', sans-serif;
  text-align: left; }
.carousel_4 span {
  font-size: 14px;
  font-family: 'SourceSansPro', sans-serif;
  text-transform: uppercase;
  line-height: 1.786; }
.carousel_4 .likes {
  font-size: 14px;
  font-family: 'SourceSansPro', sans-serif;
  line-height: 1.786;
  text-align: left;
  padding: 0; }
.carousel_4 p {
  padding-top: 60px;
  padding-bottom: 50px;
  font-size: 14px;
  font-family: 'OpenSans', sans-serif;
  line-height: 1.786; }
.carousel_4 .read {
  text-decoration: none;
  font-size: 16px;
  font-family: 'OpenSans', sans-serif;
  line-height: 0.75;
  text-align: center; }

.section-12 {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #f3f3f3; }

.section-12 .price {
  font-size: 20px;
  font-family: 'SourceSansPro', sans-serif;
  color: #333b46;
  text-transform: uppercase;
  line-height: 0.6;
  padding-bottom: 40px;
  text-align: center; }
.section-12 .p_price {
  font-size: 16px;
  font-family: 'OpenSans', sans-serif;
  color: #81868e;
  line-height: 1.75;
  padding-bottom: 60px;
  text-align: center; }

.our_price {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.004); }

.our_price ul > li {
  list-style: none;
  width: 235px;
  margin: 0;
  background-color: #ffffff; }

.our_price .titles {
  padding: 27px 60px;
  background-color: #19bd9a;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  font-family: 'OpenSans', sans-serif;
  text-align: center;
  margin: 0; }
.our_price .percent {
  font-size: 33px;
  font-family: 'SourceSansPro', sans-serif;
  color: #19bd9a;
  font-weight: bold;
  text-align: center;
  padding-top: 70px; }
.our_price .per_month {
  text-align: center;
  font-size: 20px;
  font-family: 'OpenSans', sans-serif;
  color: #81868e;
  line-height: 1.4;
  padding-bottom: 108px; }
.our_price a {
  padding: 30px 60px;
  background-color: #19bd9a;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  font-family: 'OpenSans', sans-serif;
  text-align: center;
  text-decoration: none;
  margin: 0;
  width: 235px; }
.our_price a::after {
  content: ">";
  font-size: 20px;
  margin-left: 10px; }

.column_2 li:first-child {
  padding: 35px;
  font-size: 14px;
  font-family: 'OpenSans', sans-serif;
  color: #81868e;
  line-height: 2.2;
  width: 238px; }
.column_2 li:last-child {
  padding-top: 30px; }

.section-13 {
  background-image: url(images/bg-7.png);
  background-size: cover;
  padding-bottom: 100px;
  padding-top: 80px;
  text-align: center; }

.section-13 .subscribe {
  font-size: 20px;
  font-family: 'SourceSansPro', sans-serif;
  text-transform: uppercase;
  line-height: 0.6;
  text-align: center;
  margin-bottom: 40px;
  color: #ffffff; }
.section-13 .p_subscribe {
  font-size: 14px;
  font-family: 'OpenSans', sans-serif;
  line-height: 1.786;
  text-align: center;
  color: #73787f;
  margin-bottom: 60px; }

.form {
  display: inline-block;
  margin: 0 auto; }

.form_email .personal_form {
  width: 360px;
  height: 41px;
  border-radius: 0;
  background-color: transparent;
  border: 1px solid #81868e; }
.form_email button {
  display: inline-block;
  width: 150px;
  height: 41px;
  border-radius: 0;
  box-shadow: none;
  background-color: #19bd9a;
  color: white;
  margin-left: 10px;
  margin-top: -3px; }

.section-14 {
  background-color: #f3f3f3;
  padding-bottom: 100px;
  padding-top: 80px;
  text-align: center; }

.section-14 .h3_contact {
  font-size: 20px;
  font-family: 'SourceSansPro', sans-serif;
  text-transform: uppercase;
  line-height: 0.6;
  text-align: center;
  margin-bottom: 40px;
  color: #333b46; }
.section-14 .p_contact {
  font-size: 14px;
  font-family: 'OpenSans', sans-serif;
  line-height: 1.786;
  text-align: center;
  color: #73787f;
  margin-bottom: 60px; }

.contact {
  text-align: center;
  text-transform: uppercase;
  font-family: 'OpenSans', sans-serif;
  line-height: 1.5;
  color: #81868e;
  font-size: 16px;
  position: relative; }

.contact h5 {
  font-size: 16px;
  color: #464646;
  padding-top: 30px;
  padding-bottom: 25px;
  margin: 0; }
.contact span {
  font-size: 14px; }
.contact .left {
  background-color: #ffffff;
  width: 287px;
  padding-bottom: 30px; }

.left .img_email {
  position: absolute;
  top: 20%;
  left: 35%; }
.left .img_office {
  position: absolute;
  top: 14%;
  left: 35%; }
.left .img_phone {
  position: absolute;
  top: 16%;
  left: 35%; }

.one {
  padding-top: 80px;
  padding-bottom: 130px; }

.form-inline {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0; }

.form-inline .form-control {
  border-radius: 0;
  width: 350px;
  height: 41px;
  margin-bottom: 30px; }

.row textarea {
  border-radius: 0;
  margin-bottom: 30px;
  resize: none; }

.btn {
  height: 55px;
  border-radius: 0;
  font-size: 16px;
  font-family: 'OpenSans', sans-serif;
  text-transform: uppercase; }

.map {
  overflow: hidden;
  position: relative;
  height: 500px; }

iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%; }

.section-17 {
  background-color: #f3f3f3;
  padding-bottom: 90px;
  padding-top: 80px;
  text-align: center; }

.section-17 .img_footer {
  text-align: center;
  margin-bottom: 25px; }
.section-17 .copyright {
  font-size: 14px;
  font-family: 'OpenSans', sans-serif;
  line-height: 1.786;
  text-align: center;
  color: #73787f;
  margin-bottom: 35px; }
.section-17 .social a {
  list-style: none;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  font-size: 14px; }
.section-17 .fa-facebook {
  background-color: #3b5997;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  padding-top: 7px; }
.section-17 .fa-twitter {
  background-color: #3ec2f3;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  padding-top: 7px; }
.section-17 .fa-linkedin {
  background-color: #0e76a8;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  padding-top: 6px; }
.section-17 .fa-instagram {
  background-color: #3f729b;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  padding-top: 6px; }
.section-17 .fa-vimeo {
  background-color: #86c9ef;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  padding-top: 7px; }

.social div {
  display: inline-block;
  margin-left: 10px; }

/*# sourceMappingURL=style.css.map */
